$darkgrey: #192734;
$white: #FFF;
$blue:    #0d6efd;

* {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', sans-serif !important;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    color: #FFF;
    width: 95vw;
    max-width: 95vw;
}
#container {
    background-color: $darkgrey;
    height: 100%;
    width: 98vw;
    display: flex;
    flex-direction: column;
    //overflow: hidden;
}

select {
    padding: 10px;
    padding-right: 40px;
    font-size: 18px;
    cursor: pointer;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#header {
    //background-color: $blue;
    display: flex;
    align-content: center;
    justify-content: center;
    select, button {
        margin: 15px;
    }
    width: 100%;
}



#main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

// .chart {
//     width: 100%;
//     max-width: 100%;
//     padding: 0;
//     display: flex;
// }
.chart_menu {
    padding: 25px;
}
.chart_box {
    max-width: 100%;
    display: flex;
    align-content: center;
}
#info {
    width: 0;
    visibility: hidden;
    padding-top: 40px;
}
rect {
    padding: 0  !important;
}

h3 {
    padding-bottom: 10px;
}
.btn {
    margin: 10px;
    width: 100%;
}
.legendBox {
    width: 40px;
    height: 20px;
    display: inline-block;
}
#lgb1 {
    background-color: #f8961e;
}
#lgb2 {
    background-color: #f9c74f;
}
#lgb3 {
    background-color: #90be6d;
}
#lgb4 {
    background-color: #43aa8b;
}

#darkModeButton {
    position: fixed;
    top:5px;
    right:0;
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50px;
    border: none;
    &:hover {
        img {
            transform: rotate(25deg);
        }
    }
    img {
        width: 70%;
        height: 70%;
        padding: 0;
        margin: 0;
        transform: rotate(1deg);
        transition: transform 0.25s ease;
    }
    background: #f9c74f;
}

#chart-box-map {
    width: 100%;
    height: 800px;
}
#createMap, #createMapSlide, #createGraph {
    position: relative;
    right: 10px;
}

#chart-box-map path {
stroke-width:1; /* control the countries borders width */
stroke:black; /* choose a color for the border */
}