* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif !important;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #43aa8b;
}

select {
    padding: 10px;
    padding-right: 40px;
    font-size: 18px;
    cursor: pointer;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#header {
    display: flex;
    align-content: center;
    justify-content: center;
    select, button {
        margin: 15px;
    }
}

#createGraph {
    background-color: #90be6d;
    color: black;
    border: 1px solid white;
    transition: all 0.1s ease-in-out;
    &:hover {
        background-color: #43aa8b;
        color: white;
    }
}

#main {
    width: 100wh;
    display: flex;
}

#chart {
    width: 70%;
    padding: 1;
}
#info {
    width: 30%;
    padding-top: 40px;
}
rect {
    padding: 0  !important;
}

h3 {
    padding-bottom: 40px;
}

.legendBox {
    width: 40px;
    height: 20px;
    display: inline-block;
}
#lgb1 {
    background-color: #f8961e;
}
#lgb2 {
    background-color: #f9c74f;
}
#lgb3 {
    background-color: #90be6d;
}
#lgb4 {
    background-color: #43aa8b;
}